body {
    background-color: #111;

}

.explanation {
    background-color: #1f75fe;
    font-family: 'Raleway',sans-serif;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 800;
    padding-bottom: 5px;
    padding: 16px;
    border-radius: 20px;
}

.page-header {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    color: #ffffff;
    font-style: normal;
    text-align: center;
    font-size: 30px;
    margin: 0px;
}

.explanation p a {
    color: #6495ed;
}

html {
    background-color: #111;
}

.explanation a {
    color: #6495ed;

}

#globe {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 600px;
}

#link {
  color: #333
}

div {
    background-color: #111;
}
