html, body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 100%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
}

#container {
  background-color:#066;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
}

#try {
  background-color:#066;
  padding: 5px;
  border-radius: 20px;
  text-align: center;
}

#footer {
  background-color:#066;
  padding: 5px;
  border-radius: 20px;
  text-align: center;
}

h1 {
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 4px #000;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

p {
  width: 80%;
  font-size: 19px;
  line-height: 1.3em;
  color: #fff;
  margin: 1.1em auto;
  text-align: center;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
}

p a {
  color: #fff;
}

h2 {
  color: #fff
}
